In [1]:
import random
clientes = ["Alex","Bob","Carol","David","Flow","Katie","Nate"] 
diccionario_descuentos = {clientes:random.randint(1,100) for clientes in clientes} #En Python, random.randint(i,j) retorna un valor entre i y j incluyendo ambos extremos.
print(diccionario_descuentos)

{'Alex': 47, 'Bob': 88, 'Carol': 91, 'David': 24, 'Flow': 72, 'Katie': 17, 'Nate': 52}

In [2]:
import random
estudiantes = ["Alex","Bob","Carol","David","Flow","Katie","Nate"]
diccionario_edad = {estudiantes:random.randint(16,25) for estudiantes in estudiantes}#En Python, random.randint(i,j) retorna un valor entre i y j incluyendo ambos extremos.
print(diccionario_edad)

{'Alex': 25, 'Bob': 22, 'Carol': 18, 'David': 19, 'Flow': 19, 'Katie': 21, 'Nate': 17}

In [3]:
import random
Jugadores= ["Alex","Bob","Carol","David","Flow","Katie","Nate"]
diccionario_Numero = {Jugadores:random.randint(10000,99999) for Jugadores in Jugadores}#En Python, random.randint(i,j) retorna un valor entre i y j incluyendo ambos extremos.
print(diccionario_Numero)

{'Alex': 69047, 'Bob': 29903, 'Carol': 10802, 'David': 46603, 'Flow': 81796, 'Katie': 84462, 'Nate': 89833}

In [4]:
print("Descuento")
print()
print(diccionario_descuentos) 
print()
print("Edad")
print()
print(diccionario_edad)
print()
print("Baloto")
print()
print(diccionario_Numero)

Descuento

{'Alex': 47, 'Bob': 88, 'Carol': 91, 'David': 24, 'Flow': 72, 'Katie': 17, 'Nate': 52}

Edad

{'Alex': 25, 'Bob': 22, 'Carol': 18, 'David': 19, 'Flow': 19, 'Katie': 21, 'Nate': 17}

Baloto

{'Alex': 69047, 'Bob': 29903, 'Carol': 10802, 'David': 46603, 'Flow': 81796, 'Katie': 84462, 'Nate': 89833}