#LAMBDA o Funciones Anónimas
* Funciones pequeñas, de fácil acceso y rpidas
* Puede contenr **varios** argumenbtos, pero sólo una expresión

In [1]:
lista=[3,7,6,9]

lista2=[n**2 for n in lista]
lista2

[9, 49, 36, 81]

In [3]:
def elevar(*entrada): #se coloca * para indicar que va a ingresar una lista
 for i in entrada:
   print(i**2)

In [4]:
lambda1=lambda x:x**2
lambda1(2)

4

In [5]:
lambda2=lambda x,y:x**y
lambda2(2,4)

16

In [6]:
lambda3=lambda num:True if num%2>=0 else False
lambda3(4)

True

In [7]:
def elevar(*n):
  for i in range(len(n)):
    print(int(n[i])**2)
elevar(*lista)

9
49
36
81

In [8]:
letras={"A":3,"B":6,"C":9}
sorted(letras,key=lambda x:letras[x]%3)

['A', 'B', 'C']

In [9]:
import random
mi_lista=[1,2,3,4,5,6,7,8,9,10]
filtrado=[n for n in mi_lista if n%2!=0]
filtrado

[1, 3, 5, 7, 9]

In [ ]:
filtrado2=[key=lambda x:]

In [11]:
mi_lista2=[n for n   in range (1,11)]
mi_lista2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
mi_lista3=[random.randrange(1,11) for i in range (10)]
mi_lista3

[4, 9, 7, 9, 10, 5, 3, 5, 4, 9]

##Funciones de orden superior
1. MAP
La función se aplica a cada elemento de la ista

map(una_funcion,una_lista)

In [13]:
cuadrados=[]#Creando una ista vacía
for i in lista:
  cuadrados.append(i**2)
print(cuadrados)

[9, 49, 36, 81]

In [14]:
cuadrado2=[x**2 for x in lista]#compresión
cuadrado2

[9, 49, 36, 81]

In [15]:
cuadrado3=list(map(lambda x:x**2,lista))
cuadrado3

[9, 49, 36, 81]

##2. FITER
Filtrar.Si se cumple la condición devuelve un True
Se define: filter(una_funcion,una_lista)

In [16]:
valores=[num for num in range(1,10)]
pares=[]
for valor in valores:
   if valor%2==0:
     pares.append(valor)

print(pares)

[2, 4, 6, 8]

In [17]:
valor2=[lol for lol in valores if lol%2==0]
valor2

[2, 4, 6, 8]

In [18]:
valor3=list(filter(lambda julito: julito%2==0,valores))
valor3

[2, 4, 6, 8]

##3. REDUCE:
Es un acumulador
**Para usar REDUCE se dece importar el módulo functools

In [20]:
from functools import reduce
def suma(lista):
  suma=0
  for i in lista:
    suma +=i 
  return suma

print(suma(valores))

45

In [21]:
suma1=reduce(lambda x,y:x+y,valores)
suma1

45